<div class="setting-page">
  <div class="cover-info">
    <img
      style="width: 48px; height: auto"
      [src]="
        getUserData.imageShop
          ? getUserData.imageShop
          : '../../../assets/images/default_user.png'
      "
      alt=""
    />
    <c-input
      [id]="'shopName'"
      [inputType]="'text'"
      [placeholder]="'shopName'"
      [control]="getSettingInfoByName('shopname')"
    ></c-input>
    <c-input
      [id]="'mobileNumber'"
      [inputType]="'text'"
      [placeholder]="'mobileNumber'"
      [control]="getSettingInfoByName('mobileNumber')"
    ></c-input>
    <c-input
      [id]="'email'"
      [inputType]="'text'"
      [placeholder]="'E-Mail'"
      [control]="getSettingInfoByName('email')"
    ></c-input>
    <c-input
      [id]="'discountMember'"
      [inputType]="'number'"
      [placeholder]="'discountMember'"
      [control]="getSettingInfoByName('discountMember')"
    ></c-input>
    <input
      #uploadImage
      type="file"
      accept="image/*"
      (change)="onUploadImage($event)"
      hidden
    />
    <button
      *ngIf="!downloadURL"
      (click)="uploadImage.click()"
      mat-raised-button
    >
      Upload Image
    </button>
    <button
      style="width: 110px"
      *ngIf="downloadURL"
      (click)="clearImage()"
      mat-raised-button
    >
      Clear
    </button>
    <br />
    <img *ngIf="downloadURL" class="preview-image" [src]="downloadURL" />
    <div class="cover-btn">
      <button
        [disabled]="disabledSettingBtn()"
        (click)="onSave()"
        mat-raised-button
      >
        Save
      </button>
      <button class="btn-back" (click)="onBack()" mat-raised-button>
        Back
      </button>
    </div>
  </div>
</div>
<div class="loading-fade" *ngIf="showSpinner">
  <!-- <mat-spinner></mat-spinner> -->
  <mat-spinner class="loading-fade-spinner"></mat-spinner>
</div>
