<div class="setting-page">
  <div class="cover-info">
    <img src="../../../assets/images/default_user.png" alt="" />
    <c-input
      [id]="'shopName'"
      [inputType]="'text'"
      [placeholder]="'shopName'"
      [control]="getSettingInfoByName('shopname')"
    ></c-input>
    <c-input
      [id]="'mobileNumber'"
      [inputType]="'text'"
      [placeholder]="'mobileNumber'"
      [control]="getSettingInfoByName('mobileNumber')"
    ></c-input>
    <c-input
      [id]="'email'"
      [inputType]="'text'"
      [placeholder]="'E-Mail'"
      [control]="getSettingInfoByName('email')"
    ></c-input>
    <c-input
      [id]="'discountMember'"
      [inputType]="'number'"
      [placeholder]="'discountMember'"
      [control]="getSettingInfoByName('discountMember')"
    ></c-input>
    <!-- <c-input
      [id]="'imageShop'"
      [inputType]="'text'"
      [placeholder]="'imageShop'"
      [control]="getSettingInfoByName('imageShop')"
    ></c-input> -->
    <!-- <input type="file" (change)="uploadImage($event)">
    <br>
    <img [src]="downloadURL | async"> -->
    <div class="cover-btn">
      <button
        [disabled]="disabledSettingBtn()"
        (click)="onSave()"
        mat-raised-button
      >
        Save
      </button>
      <button class="btn-back" (click)="onBack()" mat-raised-button>
        Back
      </button>
    </div>
  </div>
</div>
