<div class="setting-page">
  <div class="background">
    <img (click)="onBack()" src="../../../assets/images/close.svg" alt="" />
    <b class="background-text">Edit Profile</b>
    <img (click)="onSave()" src="../../../assets/images/check.svg" alt="" />
  </div>
  <div class="background-info">
    <div class="cover-info">
      <div class="cover-info-block-image">
        <img
          *ngIf="!downloadURL"
          class="cover-info-block-image-img"
          [src]="
            getUserData.imageShop
              ? getUserData.imageShop
              : '../../../assets/images/default_user.png'
          "
          alt=""
        />
        <img
          *ngIf="downloadURL"
          class="cover-info-block-image-img"
          [src]="downloadURL"
          alt=""
        />
        <div (click)="uploadImage.click()" class="cover-info-block-image-btn">
          <img src="../../../assets/images/photo_camera.png" alt="" />
        </div>
      </div>
      <input
        #uploadImage
        type="file"
        accept="image/*"
        (change)="onUploadImage($event)"
        hidden
      />
      <b *ngIf="downloadURL" class="cover-info-edit-img" (click)="clearImage()"
        >Clear Picture</b
      >
      <b
        *ngIf="!downloadURL"
        class="cover-info-edit-img"
        (click)="uploadImage.click()"
        >Edit Picture</b
      >
      <c-input-no-border
        [id]="'shopName'"
        [inputType]="'text'"
        style="width: 100%"
        [label]="'Shop Name'"
        [control]="getSettingInfoByName('shopname')"
      ></c-input-no-border>
      <c-input-no-border
        [id]="'mobileNumber'"
        [inputType]="'text'"
        style="width: 100%"
        [label]="'Mobile Number'"
        [mask]="'XXX-XXX-0000'"
        [hiddenInput]="true"
        [control]="getSettingInfoByName('mobileNumber')"
      ></c-input-no-border>
      <c-input-no-border
        [id]="'email'"
        [inputType]="'text'"
        style="width: 100%"
        [label]="'Email'"
        [control]="getSettingInfoByName('email')"
      ></c-input-no-border>
      <c-input-no-border
        [id]="'discountMember'"
        [inputType]="'number'"
        style="width: 100%"
        [label]="'Discount Member'"
        [control]="getSettingInfoByName('discountMember')"
      ></c-input-no-border>
      <button
        class="cover-info-btn-logout"
        (click)="onLogout()"
        mat-raised-button
      >
        Log out
      </button>
    </div>
    <div class="tap-delete" (click)="onDeleteDialog()">
      <img src="../../../assets/images/delete_bin.png" alt="" />
      <b>Delete Account ?</b>
    </div>
  </div>
</div>
<div class="loading-fade" *ngIf="showSpinner">
  <mat-spinner class="loading-fade-spinner"></mat-spinner>
</div>
