.setting-page {
  .cover-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    margin: 4rem;
    &-image {
      width: 48px;
      height: auto;
      border-radius: 100%;
    }
  }
  .cover-btn {
    display: flex;
    column-gap: 14px;
  }
  .preview-image {
    max-width: 180px;
    border-radius: 100%;
    border: 1px solid gray;
  }
}
