<div class="edit-product">
  <div class="search-product">
    <c-input
      [placeholder]="'Product Name'"
      [control]="getSearchFormByName('searchName')"
    ></c-input>
    <div class="search-product-line-2">
      <c-select
        [placeholder]="'Category'"
        [selected]="selectCat"
        [control]="getSearchFormByName('searchCategory')"
        [items]="catList"
      ></c-select>
      <button
        [disabled]="disabledSearchBtn()"
        (click)="onSearch()"
        class="search-product-line-2-btn"
        mat-raised-button
      >
        SEARCH
      </button>
      <button
        (click)="onClearSearch()"
        class="search-product-line-2-btn"
        mat-raised-button
      >
        CLEAR
      </button>
    </div>
  </div>
  <div class="cover-list-product" *ngIf="productList$ | async as product">
    <div class="cover-card-product" *ngFor="let item of product">
      <mat-card class="card-product">
        <ul>
          <li>Product Name : {{ item.productName }}</li>
          <li>Code : {{ item.productCode }}</li>
          <li>Price : {{ item.price }}</li>
          <li>qty : {{ item.qty }}</li>
          <li>Category : {{ item.category }}</li>
        </ul>

        <div class="card-product-btn">
          <button (click)="onSelectProduct(item)" mat-raised-button>
            Edit
          </button>
          <button
            (click)="onDeleteProduct(item)"
            mat-raised-button
            color="warn"
          >
            Delete
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="cover-btn-footer">
    <button (click)="onBack()" mat-raised-button><b>Back</b></button>
  </div>
</div>
