<div class="stock" *ngIf="!loadingSpinner; else loading">
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [type]="'line'"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>

  <hr />
  <ng-container *ngIf="listProductInWeek$ | async as productInWeek">
    <div class="cover-product-list">
      <label class="cover-product-list-label"
        ><b>List products can be sold in 7 days</b></label
      >
      <table class="table-best-seller">
        <tr>
          <th>Product name</th>
          <th>Category</th>
          <th>Sold amount</th>
        </tr>
        <tr *ngFor="let item of productInWeek">
          <td>{{ item.productName }}</td>
          <td>{{ item.category }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
      </table>
    </div></ng-container
  >
  <hr />
  <ng-container *ngIf="bestSellerList$ | async as bestList">
    <div class="cover-product-list-b">
      <label class="cover-product-list-b-label"><b>Best Seller</b></label>
      <table class="table-best-seller">
        <tr>
          <th>Product name</th>
          <th>Category</th>
          <th>Sold amount</th>
        </tr>
        <tr *ngFor="let item of bestList">
          <td>{{ item.productName }}</td>
          <td>{{ item.category }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
      </table>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <mat-spinner class="loading-spinner"></mat-spinner>
</ng-template>
<div class="cover-btn-footer">
  <button (click)="onBack()" mat-raised-button><b>Back</b></button>
</div>
