<div class="stock">
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [type]="'line'"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>

  <ng-container *ngIf="bestSellerList$ | async as bestList">
    <div class="cover-product-list">
      <p>Best Seller</p>
      <table class="table-best-seller">
        <tr>
          <th>Product name</th>
          <th>category</th>
          <th>qty</th>
        </tr>
        <tr *ngFor="let item of bestList">
          <td>{{ item.productName }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.qty }}</td>
        </tr>
      </table>
    </div>
  </ng-container>
</div>
<div class="cover-btn-footer">
  <button (click)="onBack()" mat-raised-button><b>Back</b></button>
</div>
