<div class="login-page">
  <div class="cover-input">
    <label class="text-login">Login</label>
    <c-input
      [id]="'username'"
      [inputType]="'text'"
      [placeholder]="'Username'"
      [control]="getLoginFormByName('username')"
    ></c-input>
    <c-input
      [id]="'password'"
      [inputType]="'password'"
      [placeholder]="'Password'"
      [control]="getLoginFormByName('password')"
    ></c-input>

    <button [disabled]="disabledButton()" mat-raised-button>Sign in</button>
    <a style="text-align: center; text-decoration: underline">Register</a>
  </div>
</div>
