<!-- <div class="login-page">
  <div class="cover-input">
    <label class="text-login">Login</label>
    <c-input
      [id]="'username'"
      [inputType]="'text'"
      [placeholder]="'Username'"
      [control]="getLoginFormByName('username')"
    ></c-input>
    <c-input
      [id]="'password'"
      [inputType]="'password'"
      [placeholder]="'Password'"
      [control]="getLoginFormByName('password')"
    ></c-input>

    <button (click)="onLogin()" [disabled]="disabledButton()" mat-raised-button>
      Sign in
    </button>
    <a (click)="onRegister()" class="btn-text-register">Register</a>
  </div>
</div> -->

<div class="login-page">
  <div class="cover-input">
    <label class="text-login">Login</label>
    <c-input
      [id]="'username'"
      [inputType]="'text'"
      [placeholder]="'Username'"
      [control]="getLoginFormByName('username')"
    ></c-input>
    <c-input
      [id]="'password'"
      [inputType]="'password'"
      [placeholder]="'Password'"
      [control]="getLoginFormByName('password')"
    ></c-input>

    <button (click)="onLogin()" [disabled]="disabledButton()" mat-raised-button>
      Sign in
    </button>
    <a (click)="onRegister()" class="btn-text-register">Register</a>
  </div>
</div>
