<div class="sell-product">
  <div class="container">
    <h1>ngx-scanner-qrcode</h1>

    <!-- devices -->
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
        <select
          [ngModel]="null"
          (ngModelChange)="action.playDevice($event)"
          class="form-select form-select-sm"
        >
          <option [value]="0" selected>Select device</option>
          <option
            *ngFor="let c of action.devices.value; let i = index"
            [ngValue]="c.deviceId"
            [selected]="i == 0"
          >
            {{ c.label }}
          </option>
        </select>
      </div>
    </div>

    <!-- ngx-scanner-qrcode -->
    <ngx-scanner-qrcode
      #action="scanner"
      [config]="config"
      (event)="onEvent($event)"
    ></ngx-scanner-qrcode>

    <!-- data  -->
    <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

    <!-- loading -->
    <p *ngIf="action.isLoading">⌛ Loading...</p>

    <!-- start/stop -->
    <button
      class="btn"
      [class.btn-info]="!action.isStart"
      [class.btn-warning]="action.isStart"
      [disabled]="action.isLoading"
    >
      <img
        *ngIf="!action.isStart"
        (click)="handle(action, 'start')"
        src="https://img.icons8.com/ios/50/000000/no-camera--v2.png"
        width="30px"
      />
      <img
        *ngIf="action.isStart"
        (click)="handle(action, 'stop')"
        src="https://img.icons8.com/ios/50/000000/no-camera--v1.png"
        width="30px"
      />
    </button>
  </div>

  <ng-container>
    <h1>{{ value }}</h1>

    <P>{{ check }}</P>
  </ng-container>

  <ngx-scanner-qrcode
    #actionFile="scanner"
    (event)="onEvent($event)"
    [src]="
      'https://raw.githubusercontent.com/id1945/ngx-scanner-qrcode/master/supported-barcode-types.png'
    "
    [config]="config"
  >
  </ngx-scanner-qrcode>
</div>
