.sell-product {
  .container {
    margin: 1rem;
    .selectbox-select-device {
      border-radius: 10px;
      padding: 4px;
    }
    .scanner-barcode {
      margin: 1rem 0;
      .origin-video {
        border-radius: 14px;
        background-color: transparent;
      }
    }
    .btn-open-scanner {
      width: 100%;
      padding: 10px 0;
      border-radius: 10px;
      font-weight: 600;
    }
  }
  .hidden {
    display: none;
  }
  .hidden-scanner {
    height: 0px;
  }
}
