<div class="sell-product">
  <div class="container">
    <h1>Selling Page</h1>

    <!-- devices -->

    <div>
      <select
        [ngModel]="null"
        (ngModelChange)="action.playDevice($event)"
        class="selectbox-select-device"
      >
        <option [value]="deviceIdFacingback" selected>Select device</option>
        <option
          *ngFor="let c of action.devices.value; let i = index"
          [ngValue]="c.deviceId"
          [selected]="
            indexCameraFacingback !== -1 ? i == indexCameraFacingback : 0
          "
        >
          {{ c.label }}
        </option>
      </select>
    </div>

    <!-- ngx-scanner-qrcode -->
    <ngx-scanner-qrcode
      #action="scanner"
      id="scannerCamera"
      [config]="config"
      (event)="onEvent($event)"
      class="scanner-barcode hidden-scanner"
    ></ngx-scanner-qrcode>

    <!-- loading -->
    <p *ngIf="action.isLoading">⌛ Loading...</p>

    <!-- start/stop -->
    <div hidden>
      <button
        id="btnOpenScanner"
        mat-raised-button
        [class.btn-info]="!action.isStart"
        [hidden]="action.isStart"
        [disabled]="action.isLoading"
        class="btn-open-scanner"
        (click)="handle(action, 'start')"
      >
        <label>OPEN SCANNER</label>
      </button>
    </div>
  </div>

  <hr />

  <!-- table product Selling -->
  <!-- <p>
    showProduct <br />
    {{ showProduct | json }}
  </p>
  <p>
    productScanned <br />
    {{ productScanned | json }}
  </p> -->

  <div class="cover-input-barcode">
    <label class="text-header-input">Add Manual Barcode</label>
    <c-input
      [control]="getSellingFormByName('manualProductCode')"
      [placeholder]="'Manual Barcode'"
      [inputType]="'number'"
    ></c-input>
    <button
      style="width: 100%"
      [disabled]="!getSellingFormByName('manualProductCode').value"
      (click)="manualAddBarcode()"
      mat-raised-button
    >
      Add Code
    </button>
  </div>

  <hr />

  <table class="table-selling-product">
    <tr>
      <th class="table-header-count">No.</th>
      <th class="table-header-code">BCode</th>
      <th class="table-header-product">Product</th>
      <th>Price</th>
      <th>qty</th>
    </tr>
    <tr *ngFor="let item of productScanned; index as i">
      <td class="text-center">
        {{ i + 1 }}
      </td>
      <td class="table-detail-code">{{ item.productCode }}</td>
      <td class="table-detail-product-name">{{ item.productName }}</td>
      <td class="text-center">{{ item.price }}</td>
      <td (click)="adjustQTY(i, item)" class="text-center">
        {{ item.qty }}
      </td>
    </tr>

    <tr>
      <td><b>Total Price</b></td>
      <td></td>
      <td></td>
      <td colspan="2" style="text-align: end">
        <b>{{ totalPrice | number }}</b>
      </td>
    </tr>
  </table>
  <div class="cover-btn-order">
    <button
      [disabled]="disabledBtnOrder()"
      (click)="onConfirmOrder()"
      mat-raised-button
    >
      Confirm Order
    </button>
    <button
      [disabled]="disabledBtnOrder()"
      (click)="onClearAllOrder()"
      mat-raised-button
    >
      Clear All Order
    </button>
  </div>
  <hr />
  <div class="cover-input-member">
    <label class="text-header-input-member">Member</label>
    <c-input
      [control]="getSellingFormByName('mobileMember')"
      [placeholder]="'Phone number'"
      [inputType]="'text'"
      [mask]="'000-000-0000'"
    ></c-input>
    <button
      [disabled]="getSellingFormByName('mobileMember').invalid"
      mat-raised-button
      (click)="onSetMember()"
    >
      Member
    </button>
    <button (click)="onRegisterMemberPopup()" mat-raised-button>
      Register New Member
    </button>
  </div>
</div>
<div class="cover-btn-footer">
  <button (click)="onBack()" mat-raised-button><b>Back</b></button>
</div>
