<div class="sell-product">
  <div class="container">
    <h1>ngx-scanner-qrcode</h1>

    <!-- devices -->
    <div [class.hidden]="!action.isStart" [class.show]="action.isStart">
      <select
        [ngModel]="null"
        (ngModelChange)="action.playDevice($event)"
        class="selectbox-select-device"
      >
        <option [value]="deviceIdFacingback" selected>Select device</option>
        <option
          *ngFor="let c of action.devices.value; let i = index"
          [ngValue]="c.deviceId"
          [selected]="
            indexCameraFacingback !== -1 ? i == indexCameraFacingback : 0
          "
        >
          {{ c.label }}
        </option>
      </select>
    </div>

    <!-- ngx-scanner-qrcode -->
    <ngx-scanner-qrcode
      #action="scanner"
      [config]="config"
      (event)="onEvent($event)"
      class="scanner-barcode"
      [class.hidden]="!action.isStart"
      [class.show]="action.isStart"
    ></ngx-scanner-qrcode>

    <!-- loading -->
    <p *ngIf="action.isLoading">⌛ Loading...</p>

    <!-- start/stop -->
    <div>
      <button
        mat-raised-button
        [class.btn-info]="!action.isStart"
        [hidden]="action.isStart"
        [disabled]="action.isLoading"
        class="btn-open-scanner"
      >
        <label>OPEN SCANNER</label>
      </button>
    </div>
  </div>

  <div style="width: 100%; word-break: break-all">
    <p>showData : {{ showData | json }}</p>
    <p>showScannerResult : {{ showScannerResult | json }}</p>
    <p>value : {{ value }}</p>
    <p>indexCameraFacingback : {{ indexCameraFacingback }}</p>
    <br />
  </div>
</div>
