.sell-product {
  padding: 0 0 5rem 0;
  .container {
    margin: 1rem;
    .selectbox-select-device {
      border-radius: 10px;
      padding: 4px;
    }
    .scanner-barcode {
      margin: 1rem 0;
      .origin-video {
        border-radius: 14px;
        background-color: transparent;
      }
    }
    .btn-open-scanner {
      width: 100%;
      padding: 10px 0;
      border-radius: 10px;
      font-weight: 600;
    }
  }
  .cover-input-barcode {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 24px 1rem 1rem 1rem;
    position: relative;
    .text-header-input {
      position: absolute;
      top: -10px;
      background-color: white;
      font-weight: 600;
    }
  }

  .table-selling-product {
    width: 92%;
    margin: 4%;
    th {
      padding: 4px;
      border-bottom: 2px solid gray;
    }
    td {
      padding: 4px;
      border-bottom: 2px solid gray;
    }
    .table-text-max-length {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 22px;
    }
  }
  .cover-input-member {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 24px 1rem 1rem 1rem;
    position: relative;
    .text-header-input-member {
      position: absolute;
      top: -10px;
      background-color: white;
      font-weight: 600;
    }
  }
  .hidden {
    display: none;
  }
  .hidden-scanner {
    height: 0px;
  }
}
