.sell-product {
  padding: 0 0 5rem 0;
  .container {
    margin: 1rem;
    .selectbox-select-device {
      border-radius: 10px;
      padding: 4px;
    }
    .scanner-barcode {
      margin: 1rem 0;
      .origin-video {
        border-radius: 14px;
        background-color: transparent;
      }
    }
    .btn-open-scanner {
      width: 100%;
      padding: 10px 0;
      border-radius: 10px;
      font-weight: 600;
    }
  }
  .cover-input-barcode {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 24px 1rem 1rem 1rem;
    position: relative;
    .text-header-input {
      position: absolute;
      top: -10px;
      background-color: white;
      font-weight: 600;
    }
  }

  .table-selling-product {
    width: 92%;
    margin: 4%;
    table-layout: fixed;
    th {
      padding: 4px;
      border-bottom: 2px solid gray;
    }
    td {
      padding: 4px;
      border-bottom: 2px solid gray;
    }
    .table-header {
      &-count {
        width: 36px;
      }
      &-product {
        width: 24%;
      }
      &-code {
        width: 34%;
      }
    }
    .table-detail {
      &-code {
        width: 34%;
      }
      &-product-name {
        width: 24%;
        word-wrap: break-word;
      }
    }
  }
  .cover-btn-order {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
  }
  .cover-input-member {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 24px 1rem 1rem 1rem;
    position: relative;
    .text-header-input-member {
      position: absolute;
      top: -10px;
      background-color: white;
      font-weight: 600;
    }
  }
  .hidden {
    display: none;
  }
  .hidden-scanner {
    height: 0px;
  }
}

///// dialog
.cover-bill {
  &-btn {
    margin: 1rem;
    text-align: center;
    button {
      width: 100%;
    }
  }
}
.cover-register {
  &-btn {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
    row-gap: 14px;
    button {
      width: 100%;
    }
  }
}
