<div class="dialog-edit-scanner">
  <!-- devices -->
  <div>
    <select
      [ngModel]="null"
      (ngModelChange)="action.playDevice($event)"
      class="selectbox-select-device"
    >
      <option [value]="deviceIdFacingback" selected>Select device</option>
      <option
        *ngFor="let c of action.devices.value; let i = index"
        [ngValue]="c.deviceId"
        [selected]="
                    indexCameraFacingback !== -1 ? i == indexCameraFacingback : 0
                  "
      >
        {{ c.label }}
      </option>
    </select>
  </div>

  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode
    #action="scanner"
    id="scannerCamera"
    [config]="config"
    (event)="onEvent($event)"
    class="scanner-barcode hidden-scanner"
  ></ngx-scanner-qrcode>

  <!-- loading -->
  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <!-- start/stop -->
  <div hidden>
    <button
      id="btnOpenScanner"
      mat-raised-button
      [class.btn-info]="!action.isStart"
      [hidden]="action.isStart"
      [disabled]="action.isLoading"
      class="btn-open-scanner"
      (click)="handle(action, 'start')"
    >
      <label>OPEN SCANNER</label>
    </button>
  </div>
</div>
