<div class="edit-select-product">
  <div class="cover-info-product">
    <c-input
      [id]="'productName'"
      [inputType]="'text'"
      [placeholder]="'productName'"
      [control]="getEditProductFormByName('productName')"
    ></c-input>
    <div class="cover-produce-code">
      <c-input
        class="input-width-space"
        [id]="'productCode'"
        [inputType]="'text'"
        [placeholder]="'productCode'"
        [control]="getEditProductFormByName('productCode')"
      ></c-input>
      <img
        (click)="onOpenScanner()"
        src="../../../assets/images/barcode_scanner.png"
        alt=""
      />
    </div>
    <c-input
      [id]="'price'"
      [inputType]="'text'"
      [placeholder]="'price'"
      [inputType]="'number'"
      [control]="getEditProductFormByName('price')"
    ></c-input>
    <c-input
      [id]="'category'"
      [inputType]="'text'"
      [placeholder]="'category'"
      [inputType]="'text'"
      [control]="getEditProductFormByName('category')"
    ></c-input>
    <c-input
      [id]="'quantity'"
      [inputType]="'text'"
      [placeholder]="'quantity'"
      [inputType]="'number'"
      [control]="getEditProductFormByName('quantity')"
    ></c-input>
    <c-input
      [id]="'imageProduct'"
      [inputType]="'text'"
      [placeholder]="'imageProduct'"
      [inputType]="'text'"
      [control]="getEditProductFormByName('imageProduct')"
    ></c-input>
    <div class="cover-btn">
      <button
        (click)="onSave()"
        [disabled]="disabledButton()"
        mat-raised-button
      >
        Save
      </button>
      <button class="btn-back" (click)="onBack()" mat-raised-button>
        Back
      </button>
    </div>
  </div>
</div>
